{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = 'https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/guinfo.css' %}" type="text/css">
    <script>
        $( document ).ready( function() {
            $( 'body' ).fadeIn(1000)})
    </script>
</head>
<body>
    <h1>{{ gu }}의 정보</h1>
    <div class="lf">
        <div class="left">
            <div class="popul">
                <div>인구별</div>
                <div>
                    <canvas class="my-4" id="myChart1" width="900" height="380"></canvas>
                </div>
            </div>
            <div class="sex">성별에 따른?</div>
        </div>
        <div class="right">
            <div class="age">연령대별?</div>
            <div class="day">요일별?</div>
            <div class="time">시간대별?</div>
        </div>
    </div>



    <!--차트부분-->
    <script>
        var ctx = document.getElementById("myChart1");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
              data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
              lineTension: 0,
              backgroundColor: 'transparent',
              borderColor: '#007bff',
              borderWidth: 4,
              pointBackgroundColor: '#007bff'
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: false
                }
              }]
            },
            legend: {
              display: false,
            }
          }
        });
      </script>
</body>
</html>

