@font-face{
    font-family: 'SDSwaggerTTF';
    src: url('../font/SDSwaggerTTF.ttf');
    font-weight: normal;
    font-style: normal;

}

#chart {
    position: absolute;
    top : 170px;
    left : 280px;
    background-color: white;

    width: 12
    00px;
}
body{
    position: relative;
    width: 1350px;
    background-color: #B9eeff;
}
#yourfind {
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 80px;
    position: absolute;
    text-align: center;
    top : 50px;
    left: 550px;
}
#writeplace {
    font-family : 'SDSwaggerTTF';
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

#whatStore {
    position:absolute;
    left:10px;
    top: 50px;
    width:150px;
    height:40px;
}

#age {
    position:absolute;
    top: 160px;
}

#week {
    position:absolute;
    top: 290px;
}

#time {
    position:absolute;
    top: 420px;
}

#sex {
    position:absolute;
    top: 550px;
}

#jumposu {
    position:absolute;
    top: 680px;
}

#another {
    position:absolute;
    left :1300px;
    width : 200px;
    height : 50px;
    font-size: large;

}

#guselect {
     position:absolute;
     left: 10px;
     border-radius:3px;
     top: 5px;
     width:100px;
     height: 40px;
}
#sangcon {
    position:absolute;
    border-radius:3px;
    top:5px;
    left : 120px;
    height: 40px;
}

#check {
    position:absolute;
    top:48px;
    left: 175px;
    width: 90px;
    height : 50px;
    font-size: large;

}

#gogo {
    position:absolute;
    top: 105px;
    left: 40px;
    width : 165px;
    height: 50px;
    font-size: large;


}