{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <script>
        

        function click1(){
            var element=document.forms['frm']['bt']
            element.setAttribute('value',1)
            frm.action="/gu/"
            frm.submit()
        }
        function click2(){
            var element=document.forms['frm']['bt']
            element.setAttribute('value',2)
            frm.action="/gu/"
            frm.submit()
        }
    </script>
</head>
<body>
    <header>
        <h1>서울시 상권 분석</h1>
    </header>
    <main>
        <form method="post" name="frm">
                <div class="m-bt1">
                    <div class="p-bt1" onclick="click1()">
                        <div class="image">
                            <img src="{% static 'img/인구분석.png' %}" alt="">
                        </div>
                        <div class="txt">
                            <p>생활인구 분석</p>
                        </div>
                    </div>
                </div>

                <div class="m-bt2">
                    <div class="p-bt2" onclick="click2()">
                        <div class="image">
                            <img src="{% static 'img/업종분석.png' %}" alt="">
                        </div>
                        <div class="txt">
                            <p>업종 별 매출 분석</p>
                        </div>
                    </div>
                </div>
            <input type="text" name="bt" value="" style="display: none;">
        </form>
    </main>
    <footer>
        <span>
            <b>
            Copyright ⓒ 2022. OB상조 All rights reserved   
            </b>
        </span>
        <span>
            <b>Designed by 김화신 이성길 이종호 전동준 조완제  </b>
        </span>
        <span>
            <b>
            Project Source : <a href="https://github.com/GoodJeon/MPJ_team6">https://github.com/GoodJeon/MPJ_team6</a>
            </b> 
        </span>
    </footer>
</body>
</html>