<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var list = [
                    ['커피-음료', '슈퍼마켓', 'PC방', '스포츠클럽', '패스트푸드점', '노래방', '안경', '스포츠 강습','핸드폰', '한의원'],
                    ['예술학원', '육류판매', '분식전문점', '편의점', '호프-간이주점', '문구','시계및귀금속', '섬유제품', '제과점', '수산물판매'],
                    ['의약품', '한식음식점', '일반의원', '미용실','인테리어', '치과의원', '화장품', '일반의류', '일식음식점', '중식음식점'],
                    ['신발', '여관','치킨전문점', '일반교습학원', '세탁소', '피부관리실', '서적', '당구장', '화초', '양식음식점'],
                    ['자동차수리', '외국어학원', '가전제품', '가구', '골프연습장', '자동차미용', '반찬가게', '조명용품','청과상', '컴퓨터및주변장치판매'],
                    ['가방', '네일숍', '전자상거래업', '운동/경기용품', '미곡판매','가전제품수리', '철물점', '의료기기', '완구', '애완동물'],
                    [ '고시원', '자전거 및 기타운송장비','부동산중개업']
                   ];
        var svlist = "{{ svlist|join:',' }}"
        window.onload = function(){
            var table = document.createElement('table');
            var tableplace = document.getElementById('here');
            tableplace.appendChild(table);
            table.border=1;
            // alert(svlist)
            for (var i=0; i< list.length; i++){
                var tr = document.createElement('tr');
                table.appendChild(tr);
                for (var j=0; j< list[i].length; j++){
                    var val = list[i][j]
                    var td =document.createElement('td');
                    if (svlist.indexOf(val) == '-1'){
                        td.style.backgroundColor='gray'
                        td.style.color='black'
                    } else{
                        td.setAttribute('onmouseover','this.style.cursor="pointer"');
                    }

                    // console.log(svlist)
                    td.setAttribute('onclick','sendChildValue(this.innerText)');
                    tr.appendChild(td);
                    td.innerHTML = list[i][j];
                }
            }
            $( 'table' ).addClass( 'table table-bordered' );

        }
        function sendChildValue(name) {
            opener.setChildValue(name);
            window.close();
        }

    </script>
</head>
<body>
    <div id="here"></div>
    <div class="describe">
        * 참고 : 회색 박스는 해당 상권에 <b>존재하지 않는 업종</b>들을 뜻합니다.
    </div>
</body>
</html>