@font-face{
    font-family: 'Goyang';
    src: url('../font/Goyang.ttf');
    font-weight: normal;
    font-style: normal;


}


body{
    font-family: 'Goyang';
    text-align: center;
    width: 1350px;
    display: none;
}

h1{
    position: relative;
    text-align: left;
    padding-left: 20px;
}

.lf{
    width: 100%;
    height: 550;
    border: 1px solid;

}


.left{
    width: 40%;
    height: 100%;
    float:left;
    box-sizing: border-box;
}

.right{
    width: 60%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

.left > div{
    width: 100%;
    height: 50%;
    float:left;
    border: 1px solid;
}

.right > div{
    width: 100%;
    height: 33.3%;
    float:left;
    border: 1px solid;
}

.returngu{
    position: absolute;
    top: 19px;
    left: 300px;
}


.sex{
    width: 100%;
    height: 275;
}
.sex_title{
    width:100%;
    height:25px;
}

.sex_content{
    width:100%;
    height:250px;
}
.male{
    width:50%;
    height: 250px;
    box-sizing: border-box;
    float: left;
}

.female{
    width:50%;
    height:250px;
    box-sizing: border-box;
    float: right;
}

.m_left{
    width:60%;
    height:250px;
    box-sizing: border-box;
    float: left;
}
.f_left{
    width:60%;
    height:250px;
    box-sizing: border-box;
    float:left;
}

.m_right{
    width:40%;
    height:250px;
    box-sizing: border-box;
    float:left;
}
.f_right{
    width:40%;
    height:250px;
    box-sizing: border-box;
    float: left;
}

span{
    display: block;
}